In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
image_from_C = [45]*6

lens_d = [
    32,
    34,
    36,
    38,
    40,
    42
]

image_d = [
    91.2,
    75,
    62.9,
    59.5,
    51.4,
    49
]

d = {
    "lens_d": lens_d,
    "image_d": image_d,
    "image_from_C": image_from_C
}
df = pd.DataFrame(d)
df["image_from_C"] = df["image_from_C"] - df["lens_d"]
df["image_d"] = df["lens_d"] - df["image_d"]
df

   lens_d  image_d  image_from_C
0      32    -59.2            13
1      34    -41.0            11
2      36    -26.9             9
3      38    -21.5             7
4      40    -11.4             5
5      42     -7.0             3

In [20]:
df[["image_d", "image_from_C"]]

   image_d  image_from_C
0    -59.2            13
1    -41.0            11
2    -26.9             9
3    -21.5             7
4    -11.4             5
5     -7.0             3

In [28]:
df["f"] = -1/(1/df["image_from_C"] + 1/df["image_d"])
df[["image_d", "image_from_C", "f"]]

   image_d  image_from_C          f
0    -59.2            13 -16.658009
1    -41.0            11 -15.033333
2    -26.9             9 -13.525140
3    -21.5             7 -10.379310
4    -11.4             5  -8.906250
5     -7.0             3  -5.250000

In [30]:
df["f"].mean()

-11.625340333495673

In [33]:
df["f"].std()

4.245996033747716

In [37]:
lens_clock = np.array([-2.5, -2.5, -2.5, -2.5, -2.6, -2.6, -2.5, ])
lens_clock = (1.53-1) / lens_clock
lens_clock.mean()

-0.20967032967032967

In [36]:
lens_clock.std()

0.0069500607915788815