In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# volumes in cm
V_canister = (4.5/2)**2 * np.pi * 10
print("V_canister:", V_canister)
V_tube = (0.2/2)**2 * np.pi * 63
print("V_tube:", V_tube)

A_piston = (3.25/2)**2 * np.pi
print("A_piston:", A_piston)
addition_V_piston = A_piston * 0.5
print("addition_V_piston", addition_V_piston)

fixed_volume = V_canister + V_tube + addition_V_piston
print("fixed_volume:", fixed_volume)

V_canister: 159.04312808798326
V_tube: 1.9792033717615698
A_piston: 8.295768100885548
addition_V_piston 4.147884050442774
fixed_volume: 165.1702155101876

In [15]:
data = {"temp": [1.537, 21.13, 1.385, 20.70, 1.635, 20.35, 48.41, 48.43, 48.37, 35.01, 13.03, 33.80, 13.31, 32.95, 13.72],
"temp_err": [0.066, 0.0042, 0.0095, 0.0047, 0.0039, 0.0057, 0.0083, 0.0057, 0.0057, 0.010, 0.0052, 0.0015, 0.0014, 0.0018, 0.0015],
"height": [ 11, 22, 10, 22, 10, 21.5, 36, 36.5, 37, 32.5, 20.5, 31.5, 21, 31, 22]
}
df = pd.DataFrame(data)

In [16]:
df

      temp  temp_err  height
0    1.537    0.0660    11.0
1   21.130    0.0042    22.0
2    1.385    0.0095    10.0
3   20.700    0.0047    22.0
4    1.635    0.0039    10.0
5   20.350    0.0057    21.5
6   48.410    0.0083    36.0
7   48.430    0.0057    36.5
8   48.370    0.0057    37.0
9   35.010    0.0100    32.5
10  13.030    0.0052    20.5
11  33.800    0.0015    31.5
12  13.310    0.0014    21.0
13  32.950    0.0018    31.0
14  13.720    0.0015    22.0